@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/WorkSans-VariableFont_wght.ttf");
}

*,
*::after,
*::before {
  font-family: "Work Sans", sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
